[submodule "P2_HerveBoutonnet_code"]
	path = P2_HerveBoutonnet_code
	url = https://github.com/Myryos/P2_HerveBoutonnet_code.git
[submodule "HerveBoutonnet_3_20012022"]
	path = HerveBoutonnet_3_20012022
	url = https://github.com/Myryos/HerveBoutonnet_3_20012022.git
[submodule "P4_BEFORE"]
	path = P4_BEFORE
	url = git@github.com:Myryos/P4_BEFORE.git
[submodule "Project_4_After"]
	path = Project_4_After
	url = https://github.com/Myryos/Project_4_After.git
